#home {
    position: inherit;
    font-family: cursive;
    font-size: 30px;
    text-align: center;

}

body {
    background: linear-gradient(#08ECD9 0%, #11EA55 100%);
    color: white;
}

.line{
    height: 10px;
    width:10px;
    color:white;
}